<%-include('partes/cabecera');-%>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID </th>
                        <th>articulo</th>
                        <th>tipo</th>
                        <th>cantidad</th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% if (dataPape){ %>
                        <% for (var i=0;i < dataPape.length;i++){ %>
                            <tr>
                                <td>
                                    <%= dataPape[i].ID %>
                                </td>
                                <td>
                                    <%= dataPape[i].articulo %>
                                </td>
                                <td>
                                    <%= dataPape[i].tipo %>
                                </td>
                                <td>
                                    <%= dataPape[i].cantidad %>
                                </td>
                                <td><a href="/delete/<%= dataPape[i].ID%>" class="btn btn-danger" name="btn_borrar">Borrar</a></td>
                            </tr>
                            <% } %>
                                <% } %>

                </tbody>
            </table>


        </div>

      
        <div class="col-md-2">
            <form action="/addSala" method="post">
                <br>
                <div class="mb-2">
                    <div class="form-group">
                        <label for="Inputarticulo" class="form-label">articulo</label>
                        <input type="text" class="form-control" id="Inputarticulo" name="articulo">
                    </div>
                    <br>
                        <button type="submit" class="btn btn-dark">Crear articulo</button>
                    </div>
                </form>
                </div>

                

        </div>
        
        
    </div>

</div>


<%-include('partes/pie');-%>